<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/service-invoice-pkg/service-item/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Service Item</b></h1>
                    <p class="subtitle"> <a href="#!/service-invoice-pkg/service-item/list">Service Item List </a>/ {{$ctrl.action}}</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.service_item.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active"><a class="filter active" data-target="#service-item" data-toggle="tab" aria-expanded="true">Service Item</a></li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="service-item" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Item Code <sup class="mandatory">*</sup></label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.service_item.code" name="code" placeholder="Enter Item Code" />
                                                <div class="item_code_error"></div>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Item Name <sup class="mandatory">*</sup></label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.service_item.name" name="name" placeholder="Enter Item Name" />
                                                <div class="item_name_error"></div>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Main Category <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.service_item.main_category_id" placeholder="Select Main Category" data-md-container-class="selectdemoSelectHeader" ng-change="onSelectedCategory($ctrl.service_item.main_category_id);$ctrl.service_item.sub_category_id=''">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchType" type="search" placeholder="Search for a Main Category" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="Main Category List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.main_category_list | filter:searchTravel">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="main_category_id" value='{{$ctrl.service_item.main_category_id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Sub Category <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.service_item.sub_category_id" placeholder="Select Sub Category" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchType" type="search" placeholder="Search for a Sub Category" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="Sub Category List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.sub_category_list | filter:searchTravel">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="sub_category_id" value='{{$ctrl.service_item.sub_category_id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>COA Code <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.service_item.coa_code_id" placeholder="Select COA Code" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchType" type="search" placeholder="Search for a COA Code" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="COA Code List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.coa_code_list | filter:searchTravel">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="coa_code_id" value='{{$ctrl.service_item.coa_code_id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>SAC Code</label>
                                                <md-select ng-model="$ctrl.service_item.sac_code_id" placeholder="Select SAC Code" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchType" type="search" placeholder="Search for a SAC Code" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="SAC Code List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.tax_list | filter:searchTravel">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="sac_code_id" value='{{$ctrl.service_item.sac_code_id}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Field Group</label>
                                                <md-select multiple ng-model="$ctrl.field_group_ids" placeholder="Select Field Group" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <md-button layout-fill value="all" ng-if="$ctrl.field_group_ids.length != $ctrl.extras.field_group_list.length" ng-click="selectAllFieldGroups()">SELECT ALL</md-button>
                                                        <md-button layout-fill value="all" ng-if="$ctrl.field_group_ids.length == $ctrl.extras.field_group_list.length" ng-click="deselectAllFieldGroups()">DESELECT ALL</md-button>
                                                        <!-- <input ng-model="searchRoles" type="search" placeholder="Search Role" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()"> -->
                                                    </md-select-header>
                                                    <md-optgroup label="Field Group List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.field_group_list | filter:searchTravel">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="field_group_id" value='{{$ctrl.field_group_ids}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Active Status <sup class="mandatory">*</sup></label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Row -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-sec" href="#!/service-invoice-pkg/service-item/list">cancel</a>
                                                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->