<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/service-invoice-pkg/service-item/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Service Item</b></h1>
                    <p class="subtitle"> <a href="#!/service-invoice-pkg/service-item/list">Service Item List </a>/ {{$ctrl.action}}</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.service_item.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active"><a class="filter active" data-target="#service-item" data-toggle="tab" aria-expanded="true">Service Item</a></li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="service-item" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Item Code <sup class="mandatory">*</sup></label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.service_item.code" name="code" placeholder="Enter Item Code" />
                                                <div class="item_code_error"></div>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Item Name <sup class="mandatory">*</sup></label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.service_item.name" name="name" placeholder="Enter Item Name" />
                                                <div class="item_name_error"></div>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Main Category <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.service_item.main_category_id" placeholder="Select Main Category" data-md-container-class="selectdemoSelectHeader" ng-change="onSelectedCategory($ctrl.service_item.main_category_id);$ctrl.service_item.sub_category_id=''" md-on-close="clearSearchTerm()">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchMainCategory" type="search" placeholder="Search for a Main Category" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="Main Category List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.main_category_list | filter:searchMainCategory">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="main_category_id" value='{{$ctrl.service_item.main_category_id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Sub Category <sup class="mandatory">*</sup></label>
                                                <md-select ng-model="$ctrl.service_item.sub_category_id" placeholder="Select Sub Category" data-md-container-class="selectdemoSelectHeader" md-on-close="clearSearchTerm()">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchSubCategory" type="search" placeholder="Search for a Sub Category" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="Sub Category List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.sub_category_list | filter:searchSubCategory">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="sub_category_id" value='{{$ctrl.service_item.sub_category_id}}' class="required">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>COA Code <sup class="mandatory">*</sup></label>
                                                <md-autocomplete md-items="option in $ctrl.searchCoaCode($ctrl.coaCodeSearchText)" md-selected-item="$ctrl.service_item.coa_code" md-search-text="$ctrl.coaCodeSearchText" md-item-text="option.code" md-min-length="3" placeholder="COA Code / Name">
                                                    <md-item-template>
                                                        <span>
                                                            {{option.code}} - {{option.name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No COA Code matching "{{$ctrl.coaCodeSearchText}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="coa_code_id" id="coa_code_id" value="{{$ctrl.service_item.coa_code.id}}">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Sub Ledger</label>
                                                <md-select ng-model="$ctrl.service_item.sub_ledger_id" placeholder="Select Sub Ledger" data-md-container-class="selectdemoSelectHeader" md-on-close="clearSearchTerm()">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchSubLedger" type="search" placeholder="Select Sub Ledger" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="Sub Ledger List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.sub_ledger_list | filter:searchSubLedger">{{type.ax_subgl}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="sub_ledger_id" value='{{$ctrl.service_item.sub_ledger_id}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>HSN/SAC Code</label>
                                                <md-select ng-model="$ctrl.service_item.sac_code_id" placeholder="Select HSN/SAC Code" data-md-container-class="selectdemoSelectHeader" md-on-close="clearSearchTerm()">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchSac" type="search" placeholder="Search for a HSN/SAC Code" class="demo-header-searchbox md-text">
                                                    </md-select-header>
                                                    <md-optgroup label="HSN/SAC Code List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.tax_list | filter:searchSac">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="sac_code_id" value='{{$ctrl.service_item.sac_code_id}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>TCS %</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.service_item.tcs_percentage" name="tcs_percentage" placeholder="Enter TCS Percentage" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>CESS on GST %</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.service_item.cess_on_gst_percentage" name="cess_on_gst_percentage" placeholder="Enter CESS on GST Percentage" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Field Group</label>
                                                <md-select multiple ng-model="$ctrl.field_group_ids" placeholder="Select Field Group" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <md-button layout-fill value="all" ng-if="$ctrl.field_group_ids.length != $ctrl.extras.field_group_list.length" ng-click="selectAllFieldGroups()">SELECT ALL</md-button>
                                                        <md-button layout-fill value="all" ng-if="$ctrl.field_group_ids.length == $ctrl.extras.field_group_list.length" ng-click="deselectAllFieldGroups()">DESELECT ALL</md-button>
                                                        <!-- <input ng-model="searchRoles" type="search" placeholder="Search Role" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()"> -->
                                                    </md-select-header>
                                                    <md-optgroup label="Field Group List">
                                                        <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.field_group_list | filter:searchTravel">{{type.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="field_group_id" value='{{$ctrl.field_group_ids}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Default Reference</label>
                                                <textarea class="form-control" ng-model="$ctrl.service_item.default_reference" name="default_reference" rows="2" placeholder="Enter Default Reference" autocomplete="off" minlength="3" maxlength="255"></textarea>
                                            </div><!-- Feild -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Active Status <sup class="mandatory">*</sup></label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Row -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>TCS <sup class="mandatory">*</sup></label>
                                                <div class="tab-switch">
                                                    <!-- <md-switch ng-model="$ctrl.tcs_value" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn">
                                                        {{ $ctrl.tcs_value }}
                                                    </md-switch> -->
                                                    <md-radio-group ng-model="$ctrl.tcs_value" aria-labelledby="calculateTcs">
                                                        <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
                                                        <md-radio-button value="No">No</md-radio-button>
                                                      </md-radio-group>
                                                    <input type="hidden" name="tcs" value="{{$ctrl.tcs_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Row -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-sec" href="#!/service-invoice-pkg/service-item/list">cancel</a>
                                                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap