Content Wrap -->
<form id="form" enctype="multipart-formdata" autocomplete="off">
    <div class="content-wrap cndn-wrap">
        <!-- Page Header -->
        <div class="page-header">
            <div class="page-header-inner">
                <div class="page-header-content-left">
                    <div class="page-header-content button-block">
                        <a href="#!/service-invoice-pkg/cn-dn/approval/approval-level/{{$ctrl.approval_type_id}}/list/" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                    </div><!-- Page Header Content -->
                    <div class="page-header-content title-block">
                        <h1 class="title" ng-show="$ctrl.type_id == 1060"><b>{{$ctrl.action}} Credit Note</b></h1>
                        <h1 class="title" ng-show="$ctrl.type_id == 1061"><b>{{$ctrl.action}} Invoice</b></h1>
                        <!-- <p class="subtitle">Service Item category List / Form</p> -->
                    </div><!-- Page Header Content -->
                </div><!-- Page Header Content Left -->
            </div><!-- Page Header Inner -->
        </div><!-- Page Header -->
        <!-- <form id="form" enctype="multipart-formdata" autocomplete="off"> -->
        <input type="hidden" name="id" id="id" value="{{$ctrl.service_invoice.id}}">
        <input type="hidden" name="type_id" value="{{$ctrl.type_id}}">
        <input type="hidden" name="approval_type_id" id="approval_type_id" value="{{$ctrl.approval_type_id}}">
        <input type="hidden" name="current_status" id="current_status" value="{{$ctrl.service_invoice.status_id}}">
        <!-- Page Main Content -->
        <div class="page-main-content form-content type2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-form pb-80">
                            <div class="flex-wrap">
                                <ul class="flex-list bordered">
                                    <li class="flex-md-4">
                                        <ul class="table-form-list">
                                            <li>
                                                <div class="table-form-list-wrap">
                                                    <label class="table-form-list-label">Branch</label>
                                                    <div class="table-form-list-control">
                                                        <input type="text" class="form-control" name="branch_id" value="{{$ctrl.service_invoice.branch.code}}" readonly>
                                                    </div><!-- Table Form List Control -->
                                                </div><!-- Table Form List Wrap -->
                                            </li>
                                            <li>
                                                <div class="table-form-list-wrap">
                                                    <label class="table-form-list-label">SBU</label>
                                                    <div class="table-form-list-control">
                                                        <input type="text" class="form-control" name="sbu_id" id="sbu_id" value="{{$ctrl.service_invoice.sbu.name}}" readonly>
                                                    </div><!-- Table Form List Control -->
                                                </div><!-- Table Form List Wrap -->
                                            </li>
                                            <li>
                                                <div class="table-form-list-wrap">
                                                    <label class="table-form-list-label">Category</label>
                                                    <div class="table-form-list-control">
                                                        <input type="text" class="form-control" name="category_id" id="category_id" value="{{$ctrl.service_invoice.service_item_sub_category.service_item_category.name}}" readonly>
                                                    </div><!-- Table Form List Control -->
                                                </div><!-- Table Form List Wrap -->
                                            </li>
                                            <li>
                                                <div class="table-form-list-wrap">
                                                    <label class="table-form-list-label">Sub Category</label>
                                                    <div class="table-form-list-control">
                                                        <input type="text" class="form-control" name="sub_category_id" id="sub_category_id" value="{{$ctrl.service_invoice.service_item_sub_category.name}}" readonly>
                                                    </div><!-- Table Form List Control -->
                                                </div><!-- Table Form List Wrap -->
                                            </li>
                                        </ul><!-- Table Form List -->
                                    </li>
                                    <li class="flex-md-4">
                                        <ul class="table-form-list">
                                            <li>
                                                <div class="table-form-list-wrap">
                                                    <label class="table-form-list-label">Status</label>
                                                    <div class="table-form-list-control">
                                                        <input name="status" type="text" class="form-control" placeholder="" ng-model="$ctrl.service_invoice_status.status" readonly />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="table-form-list-wrap">
                                                    <label class="table-form-list-label">Doc. Date</label>
                                                    <div class="table-form-list-control doc_date_error">
                                                        <div class="input-group date type-sm docDatePicker">
                                                            <input name="document_date" ng-model="$ctrl.service_invoice.document_date" type="text" class="form-control doc_date" placeholder="Select Doc Date" value="{{$ctrl.service_invoice.document_date}}" readonly />
                                                        </div><!-- Input Group -->
                                                    </div><!-- Table Form List Control -->
                                                </div><!-- Table Form List Wrap -->
                                            </li>
                                            <li>
                                                <div class="table-form-list-wrap">
                                                    <label class="table-form-list-label">Customer Code</label>
                                                    <div class="table-form-list-control">
                                                        <input type="text" class="form-control" name="customer_id" value="{{$ctrl.service_invoice.customer.code}}" readonly>
                                                    </div>
                                                </div><!-- Table Form List Wrap -->
                                            </li>
                                            <li>
                                                <label class="table-form-list-label">Ref Attachments</label>
                                                <div ng-repeat="(index, service_invoice_attachment) in $ctrl.service_invoice.attachments">
                                                    <div class="imageuploadify-container" data-attachment_id="{{service_invoice_attachment.id}}" style="margin-left: 0px; margin-right: 0px; ">
                                                        <div class="imageuploadify-details">
                                                            <span class="imageuploadify-file-name"><a href="{{$ctrl.ref_attachements_url_link}}/{{service_invoice_attachment.name}}" download>{{service_invoice_attachment.name}}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul><!-- Table Form List -->
                                    </li>
                                    <li class="flex-md-4">
                                        <div class="info-wrap">
                                            <p class="info-content color-red right"><b>Invoice To</b></p>
                                            <p class="info-title">{{$ctrl.service_invoice.customer.name}}</p>
                                            <p class="info-content-small italic">Customer Code : {{$ctrl.service_invoice.customer.code}}</p>
                                        </div><!-- Info Wrap -->
                                        <div class="info-wrap">
                                            <p class="info-content"><b>{{$ctrl.service_invoice.customer.mobile_no}}</b></p>
                                            <p class="info-content">{{$ctrl.service_invoice.customer.address}}</p>
                                            <div class="info-space"></div>
                                            <p class="info-content">GST # {{$ctrl.service_invoice.customer.gst_number ? $ctrl.service_invoice.customer.gst_number : 'NA'}}</p>
                                        </div><!-- Info Wrap -->
                                    </li>
                                </ul><!-- Flex List -->
                            </div><!-- Flex Wrap -->
                            <div class="table-wrap-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="table-wrap-title">Details</h5>
                                    </div><!-- Column -->
                                </div><!-- Row -->
                            </div><!-- Table Wrap Header -->
                            <div class="table-wrap-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="action">Action</th>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Reference</th>
                                                <!-- <th class="text-right">Quantity</th> -->
                                                <!-- <th class="text-right">Rate</th> -->
                                                <th class="text-right">Amount</th>
                                                <th class="text-right" ng-repeat="(index, tax) in $ctrl.extras.tax_list">{{tax.name}}</th>
                                                <th class="text-right">Total Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(index, service_invoice_item) in $ctrl.service_invoice.service_invoice_items">
                                                <input type="hidden" name="service_invoice_items[{{index}}][id]" value="{{service_invoice_item.id}}">
                                                <input type="hidden" name="service_invoice_items[{{index}}][service_item_id]" value="{{service_invoice_item.service_item_id}}">
                                                <input type="hidden" name="service_invoice_items[{{index}}][description]" value="{{service_invoice_item.description}}">
                                                <!-- <input type="hidden" name="service_invoice_items[{{index}}][qty]" value="{{service_invoice_item.qty}}"> -->
                                                <input type="hidden" name="service_invoice_items[{{index}}][rate]" value="{{service_invoice_item.rate}}">
                                                <input type="hidden" name="service_invoice_items[{{index}}][sub_total]" value="{{service_invoice_item.sub_total}}">
                                                <!-- FIELD GROUPS -->
                                                <td style="display: none;">
                                                    <span ng-repeat="(index_fg, field_group) in service_invoice_item.field_groups">
                                                        <input type="hidden" name="service_invoice_items[{{index}}][field_groups][{{index_fg}}][id]" value="{{field_group.id}}">
                                                        <span ng-repeat="(index_fd, field) in field_group.fields">
                                                            <input type="hidden" name="service_invoice_items[{{index}}][field_groups][{{index_fg}}][fields][{{index_fd}}][id]" value="{{field.id}}">
                                                            <input type="hidden" name="service_invoice_items[{{index}}][field_groups][{{index_fg}}][fields][{{index_fd}}][value]" value="{{field.value}}">
                                                        </span>
                                                    </span>
                                                </td>
                                                <td class="action">
                                                    <!-- <a href="javascript:void(0)" ng-click="editServiceItem(service_invoice_item.service_item_id, service_invoice_item.description, service_invoice_item.qty, service_invoice_item.rate,index)"> -->
                                                    <a href="javascript:void(0)" ng-click="editServiceItem(service_invoice_item.service_item_id, service_invoice_item.description, service_invoice_item.rate,index)">
                                                        <img class="img-responsive" src="./public/theme/img/table/cndn/view.svg" alt="View" />
                                                    </a>
                                                </td>
                                                <td>{{service_invoice_item.code}}</td>
                                                <td>{{service_invoice_item.name}}</td>
                                                <td>{{service_invoice_item.description}}</td>
                                                <!-- <td class="text-right">{{$ctrl.parseInt(service_invoice_item.qty)}}</td> -->
                                                <!-- <td class="text-right">{{service_invoice_item.rate | number : 2}}</td> -->
                                                <td class="text-right">{{service_invoice_item.sub_total | number : 2}}</td>
                                                <td class="text-right" ng-repeat="(tax_index, tax) in $ctrl.extras.tax_list">
                                                    {{(service_invoice_item[tax.name] ? (service_invoice_item[tax.name].amount | number : 2) : 0.00)}}({{(service_invoice_item[tax.name] ? (service_invoice_item[tax.name].percentage) : 0)}}%)
                                                    <input type="hidden" name="service_invoice_items[{{index}}][taxes][{{tax_index}}][tax_id]" value="{{tax.id}}">
                                                    <input type="hidden" name="service_invoice_items[{{index}}][taxes][{{tax_index}}][percentage]" value="{{(service_invoice_item[tax.name] ? service_invoice_item[tax.name].percentage : 0)}}">
                                                    <input type="hidden" name="service_invoice_items[{{index}}][taxes][{{tax_index}}][amount]" value="{{(service_invoice_item[tax.name] ? service_invoice_item[tax.name].amount : 0)}}">
                                                </td>
                                                <td class="text-right">{{service_invoice_item.total | number : 2}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="3"></th>
                                                <th>Total</th>
                                                <!-- <th class="text-right">{{$ctrl.table_qty}}</th> -->
                                                <!-- <th class="text-right">{{$ctrl.table_rate | number : 2}}</th> -->
                                                <th class="text-right">{{$ctrl.table_sub_total | number : 2}}</th>
                                                <th class="text-right" ng-repeat="(index, tax) in $ctrl.extras.tax_list">{{$ctrl.tax_wise_total[tax.name+'_amount'] | number : 2}}</th>
                                                <th class="text-right">{{$ctrl.minus_value}}{{$ctrl.table_total | number : 2}}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div><!-- Table Wrap Body -->
                            <input type="hidden" name="service_invoice_item_removal_ids" id="service_invoice_item_removal_ids" value="">
                            <input type="hidden" name="items_count" value="{{$ctrl.service_invoice.service_invoice_items.length}}">
                            <input type="hidden" name="amount_total" value="{{$ctrl.table_sub_total}}">
                            <input type="hidden" name="tax_total" value="{{$ctrl.table_gst_total}}">
                            <input type="hidden" name="sub_total" value="{{$ctrl.table_sub_total}}">
                            <input type="hidden" name="total" value="{{$ctrl.table_total}}">
                            <input type="hidden" name="attachment_removal_ids" id="attachment_removal_ids" value="">
                            <div class="page-form-footer">
                                <div class="row">
                                    <div class="col-md-8 text-left">
                                        <ul class="form-footer-list">
                                            <!--  <li>
                                                <span class="form-footer-label">Total Quantity</span>
                                                <span class="form-footer-value" ng-if="$ctrl.table_qty">{{$ctrl.table_qty}}</span>
                                            </li> -->
                                            <li>
                                                <span class="form-footer-label">Total Amount</span>
                                                <span class="form-footer-value" ng-if="$ctrl.table_total">INR {{$ctrl.minus_value}}{{$ctrl.table_total | number : 2}} <small>({{$ctrl.table_sub_total | number : 2}} + {{$ctrl.table_gst_total | number : 2}} GST)</small></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-bordered" data-toggle="modal" data-target="#cancel_request_reject_modal">Reject</button>
                                        <button type="submit" id="approve" class="btn btn-primary">Approve</button>
                                    </div>
                                </div>
                            </div><!-- Page Form Footer -->
                        </div><!-- Page Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </div><!-- Page Main Content -->
        <!-- </form> -->
    </div><!-- Content Wrap -->
    <script src="./public/theme/js/imageuploadify.min.js"></script>
    <!-- Modal -->
    <div class="modal fade filter" id="cancel_request_reject_modal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close ripple reject_close" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                    <h5 class="modal-title" id="myModalLabel">Reject</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Rejection Remarks<span class="mandatory">*</span></label>
                            <textarea rows="5" class="form-control rejection_remarks" placeholder="Enter Rejection Remarks" name="comments" value="" id="comments" autocomplete="off" minlength="3" maxlength="191"></textarea>
                        </div><!-- Field -->
                    </div><!-- Column -->
                    <div class="col-md-12 text-right mb-15">
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-bordered cancel_modal_btn">Cancel</button>
                        <button type="submit" id="reject" class="btn btn-bordered btn-red reject_btn">Reject</button>
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Modal Content -->
        </div><!-- Modal Dialog -->
    </div><!-- Modal -->
</form>
<!-- Modal -->
<div class="modal fade" id="modal-cn-addnew" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md fixed" role="document">
        <form id="service-invoice-item-form" enctype="multipart-formdata" autocomplete="off">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon ion-md-close"></span></button>
                    <h5 class="modal-title">{{$ctrl.action_title}} Item to Invoice</h5>
                </div><!-- Modal Header -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="table-form-list">
                                <li>
                                    <div class="table-form-list-wrap">
                                        <label class="table-form-list-label">Item Code </label>
                                        <div class="table-form-list-control">
                                            <input type="text" id="service_item_id" name="service_item_id" value="{{$ctrl.service_item_detail.code}}" class="form-control type-sm" readonly>
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                </li>
                                <li>
                                    <div class="table-form-view-wrap">
                                        <ul class="table-form-view-list">
                                            <li class="list-12 border-bottom">
                                                <span class="table-form-view-label">Item Name</span>
                                                <span class="table-form-view-value">{{$ctrl.service_item_detail.name}}</span>
                                            </li>
                                            <li class="list-6 border-right">
                                                <span class="table-form-view-label">COA Code</span>
                                                <span class="table-form-view-value">{{$ctrl.service_item_detail.coa_code.code}}</span>
                                            </li>
                                            <li class="list-6">
                                                <span class="table-form-view-label">SAC Code</span>
                                                <span class="table-form-view-value">{{$ctrl.service_item_detail.tax_code.code}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul><!-- Table Form List -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <ul class="table-form-list">
                                <li>
                                    <div class="table-form-list-wrap">
                                        <label class="table-form-list-label">Reference </label>
                                        <div class="table-form-list-control">
                                            <textarea name="description" ng-model="$ctrl.description" class="form-control type-sm" rows="3" placeholder="Enter Reference" readonly></textarea>
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                </li>
                                <!--  <li>
                                    <div class="table-form-list-wrap">
                                        <label class="table-form-list-label">Quantity </label>
                                        <div class="table-form-list-control">
                                            <input name="qty" ng-model="$ctrl.qty" type="text" class="form-control type-sm" placeholder="Enter Quantity" readonly />
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="table-form-list-wrap">
                                        <label class="table-form-list-label">Amount </label>
                                        <div class="table-form-list-control">
                                            <input name="amount" ng-model="$ctrl.rate" type="text" class="form-control type-sm" placeholder="Enter Amount" readonly />
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                </li>
                            </ul><!-- Table Form List -->
                        </div><!-- Column -->
                    </div><!-- Row -->
                    <div class="row" ng-if="$ctrl.service_item_detail.field_groups.length > 0">
                        <div class="col-md-6" ng-repeat="(index, field_group) in $ctrl.service_item_detail.field_groups">
                            <input type="hidden" name="field_groups[{{index}}][id]" value="{{field_group.id}}">
                            <h6>{{field_group.name}}</h6>
                            <ul class="table-form-list">
                                <li ng-repeat="(field_index, field) in field_group.fields">
                                    <!-- SINGLE SELECT DROPDOWN -->
                                    <div class="table-form-list-wrap" ng-if="field.type_id == 1">
                                        <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][id]" value="{{field.id}}">
                                        <label class="table-form-list-label">{{field.name}}<span class="mandatory" ng-if="field.pivot.is_required"></span></label>
                                        <div class="table-form-list-control">
                                            <md-select class="type-sm" ng-model="field.value" placeholder="Select {{field.name}}" md-on-close="clearSearch()" data-md-container-class="selectdemoSelectHeader" ng-disabled="true">
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="search" type="search" placeholder="Search for a {{field.name}}.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                </md-select-header>
                                                <md-optgroup label="fd">
                                                    <md-option ng-value="fd.id" ng-repeat="fd in field.get_list | filter:search">{{fd.name}}</md-option>
                                                </md-optgroup>
                                            </md-select>
                                            <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][value]" id="field_groups[{{index}}][fields][{{field_index}}][value]" value="{{field.value}}" ng-class="{required: field.pivot.is_required == 1}">
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                    <!-- MULTIPLE SELECT DROPDOWN -->
                                    <div class="table-form-list-wrap" ng-if="field.type_id == 2">
                                        <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][id]" value="{{field.id}}">
                                        <label class="table-form-list-label">{{field.name}}<span class="mandatory" ng-if="field.pivot.is_required"></span></label>
                                        <div class="table-form-list-control">
                                            <md-select class="type-sm" ng-model="field.value" placeholder="Select {{field.name}}" md-on-close="clearSearch()" data-md-container-class="selectdemoSelectHeader" multiple ng-disabled="true">
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="search" type="search" placeholder="Search for a sub category.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                </md-select-header>
                                                <md-optgroup label="fd">
                                                    <md-option ng-value="fd.id" ng-repeat="fd in field.get_list | filter:search">{{fd.name}}</md-option>
                                                </md-optgroup>
                                            </md-select>
                                            <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][value]" id="field_groups[{{index}}][fields][{{field_index}}][value]" value="{{field.value}}" ng-class="{multiselect_required: field.pivot.is_required == 1}">
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                    <!-- FREE TEXT BOX OR NUMERIC TEXT BOX -->
                                    <div class="table-form-list-wrap" ng-if="field.type_id == 3 || field.type_id == 4">
                                        <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][id]" value="{{field.id}}">
                                        <label class="table-form-list-label">{{field.name}}<span class="mandatory" ng-if="field.pivot.is_required"></span></label>
                                        <div class="table-form-list-control">
                                            <input name="field_groups[{{index}}][fields][{{field_index}}][value]" ng-model="field.value" type="text" class="form-control type-sm" placeholder="Enter {{field.name}}" ng-class="{required: field.pivot.is_required == 1}" readonly />
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                    <!-- DATE PICKER -->
                                    <div class="table-form-list-wrap" ng-if="field.type_id == 7">
                                        <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][id]" value="{{field.id}}">
                                        <label class="table-form-list-label">{{field.name}}<span class="mandatory" ng-if="field.pivot.is_required"></span></label>
                                        <div class="table-form-list-control dynamic_date_error">
                                            <div class="input-group date type-sm dynamicDatePicker" data-provide="datepicker">
                                                <input name="field_groups[{{index}}][fields][{{field_index}}][value]" ng-model="field.value" type="text" class="form-control dynamic_date" placeholder="Select {{field.name}}" readonly ng-class="{required: field.pivot.is_required == 1}" />
                                                <div class="input-group-addon">
                                                    <img class="img-responsive" src="public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                </div>
                                            </div><!-- Input Group -->
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                    <!-- DATE TIME PICKER -->
                                    <div class="table-form-list-wrap" ng-if="field.type_id == 8">
                                        <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][id]" value="{{field.id}}">
                                        <label class="table-form-list-label">{{field.name}}<span class="mandatory" ng-if="field.pivot.is_required"></span></label>
                                        <div class="table-form-list-control dynamic_date_error">
                                            <div class="input-group date" moment-picker="field.value" format="DD-MM-YYYY LT">
                                                <input name="field_groups[{{index}}][fields][{{field_index}}][value]" ng-model="field.value" type="text" class="form-control" placeholder="Select {{field.name}}" readonly ng-class="{required: field.pivot.is_required == 1}">
                                                <span class="input-group-addon">
                                                    <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                                </span>
                                            </div><!-- Input Group -->
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                    <!-- SWITCH -->
                                    <div class="table-form-list-wrap" ng-if="field.type_id == 9">
                                        <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][id]" value="{{field.id}}">
                                        <label class="table-form-list-label">{{field.name}}<span class="mandatory"></span></label>
                                        <div class="table-form-list-control">
                                            <div class="tab-switch">
                                                <md-switch ng-model="field.value" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-sm type-2" ng-disabled="true">
                                                    {{ field.value }}
                                                </md-switch>
                                                <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][value]" value="{{field.value}}">
                                            </div>
                                        </div><!-- Table Form List Control -->
                                    </div><!-- Table Form List Wrap -->
                                    <!-- AUTOCOMPLETE -->
                                    <div class="table-form-list-wrap" ng-if="field.type_id == 10">
                                        <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][id]" value="{{field.id}}">
                                        <label class="table-form-list-label">{{field.name}}<span class="mandatory" ng-if="field.pivot.is_required"></span></label>
                                        <div class="table-form-list-control">
                                            <md-autocomplete class="type-sm" md-items="option in $ctrl.searchField($ctrl.searchText, field.id)" md-selected-item="field.autoval" md-search-text="$ctrl.searchText" md-item-text="option.code" md-min-length="3" placeholder="{{field.name}} code / name" ng-disabled="true">
                                                <md-item-template>
                                                    <span>
                                                        {{option.name}} - {{option.code}}
                                                    </span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No {{field.name}} matching "{{$ctrl.searchText}}" were found.
                                                </md-not-found>
                                            </md-autocomplete>
                                            <input type="hidden" name="field_groups[{{index}}][fields][{{field_index}}][value]" value="{{field.autoval.id}}" ng-class="{required: field.pivot.is_required == 1}">
                                        </div>
                                    </div><!-- Table Form List Wrap -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- Modal Body -->
                <input type="hidden" name="action" value="{{$ctrl.add_service_action}}">
                <input type="hidden" name="customer_id" value="{{$ctrl.service_invoice.customer.id}}">
                <input type="hidden" name="branch_id" value="{{$ctrl.service_invoice.branch.id}}">
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-9 text-left">
                            <div class="modal-footer-list-wrap">
                                <ul class="modal-footer-list">
                                    <li>
                                        <span class="modal-footer-list-label">Amount</span>
                                        <span class="modal-footer-list-value">{{($ctrl.sub_total ? $ctrl.sub_total : 0) | number : 2}}</span>
                                    </li>
                                    <li ng-repeat="(index, tax) in $ctrl.service_item_detail.tax_code.taxes">
                                        <span class="modal-footer-list-label">{{tax.name}} ({{tax.pivot.percentage}}%)</span>
                                        <span class="modal-footer-list-value">{{(tax.pivot.amount ? tax.pivot.amount : 0) | number : 2}}</span>
                                    </li>
                                    <li class="color-red">
                                        <span class="modal-footer-list-label">Total</span>
                                        <span class="modal-footer-list-value">{{($ctrl.total ? $ctrl.total : 0) | number : 2}}</span>
                                    </li>
                                </ul>
                            </div><!-- Modal Footer List Wrap -->
                        </div><!-- Column -->
                        <div class="col-md-3">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                        </div><!-- Column -->
                    </div><!-- Row -->
                </div><!-- Modal Footer -->
            </div><!-- Modal Content -->
        </form>
    </div><!-- Modal Dialog -->
</div><!-- Modal