<div class="content-wrap cndn-wrap">
    <div class="pace" style="display: none;" id="pace">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">Credit &amp; Debit Notes</h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered my-tooltip" data-toggle="modal" data-target="#filter" ng-shortcut="'meta+shift+f'" ng-shortcut-click data-title="ctrl+shift+f"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content search-block">
                    <div class="search_filter">
                        <label>
                            <input type="search" id="search" class="form-control" placeholder="Search" />
                            <button class="btn-clear search_clear">Clear</button>
                        </label>
                    </div><!-- Search Filter -->
                </div><!-- Page Header Content pad-lf-rt-->
                <div class="page-header-content button-block">
                    <button type="button" class="btn btn-refresh refresh_table my-tooltip" ng-shortcut="'meta+shift+r'" ng-shortcut-click data-title="ctrl+shift+r">
                        <img src="./public/theme/img/content/refresh-arrow.png" class="img-responsive btn-refresh-icon">
                    </button>
                </div>
                <div class="page-header-content button-block">
                    <div class="dropdown">
                        <a class="btn-extension dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img class="img-responsive" src="./public/theme/img/content/extension-white.svg" alt="Extension" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li ng-if="$ctrl.import_cn_dn">
                                <a href="#!/import-cron-job-pkg/import-job/form/1">
                                    Import
                                </a>
                            </li>
                            <li>
                                <a href="" type="submit" id="send_for_approval" class="refresh_table">
                                    Send for Approval
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="#!/service-invoice-pkg/honda-service-invoice/add/1060" ng-if="$ctrl.create_cn == true" class="btn btn-primary my-tooltip" ng-shortcut="'meta+shift+c'" ng-shortcut-click data-title="ctrl+shift+c">Add CN</a>
                    <a href="#!/service-invoice-pkg/honda-service-invoice/add/1061" ng-if="$ctrl.create_dn == true" class="btn btn-primary my-tooltip" ng-shortcut="'meta+shift+d'" ng-shortcut-click data-title="ctrl+shift+d">Add DN</a>
                    <a href="#!/service-invoice-pkg/honda-service-invoice/add/1062" ng-if="$ctrl.create_inv == true" class="btn btn-primary my-tooltip">Add INV</a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <div class="page-main-content list-page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="service-invoice-table" style="width: 100% !important;">
                        <thead>
                            <tr>
                                <th>
                                    <div class="table-checkbox">
                                        <input type="checkbox" id="parent" />
                                        <label for="parent"></label>
                                    </div>
                                </th>
                                <th class="action">Actions</th>
                                <th>Doc. Date</th>
                                <th>Doc. No</th>
                                <th>Type</th>
                                <th>CN/DN Status</th>
                                <th>Branch</th>
                                <th>SBU</th>
                                <th>Category</th>
                                <!-- <th>Sub Category</th> -->
                                <th>Account Type</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th class="text-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<div class="modal fade filter" id="filter" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <form id="filter-form" action="{{$ctrl.exportServiceInvoicesToExcelUrl}}" method="post">
                    <input type="hidden" name="_token" value="{{$ctrl.csrf_token}}">
                    <input type="hidden" id="export_type" value="">
                    <div class="modal-form mb-30">
                        <div class="row modal-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Doc. Date</label>
                                    <div class="input-group date">
                                        <input class="form-control daterange" placeholder="Select a Date Range" name="invoice_date" id="invoice_date" value="" autocomplete="off">
                                        <span class="input-group-addon">
                                            <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                        </span>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Created Date</label>
                                    <div class="input-group date">
                                        <input class="form-control daterange" placeholder="Select a Date Range" name="created_date" id="created_date" value="" autocomplete="off">
                                        <span class="input-group-addon">
                                            <img class="img-responsive" src="./public/theme/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                        </span>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div>
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>Doc. Number</label>
                                    <input type="text" class="form-control" name="invoice_number" id="invoice_number" value="" placeholder="Enter Document Number" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>Type</label>
                                    <md-select ng-model="$ctrl.type_id" placeholder="Select Type" data-md-container-class="selectdemoSelectHeader" ng-change="onSelectedType($ctrl.type_id)">
                                        <md-select-header class="demo-select-header ng-hide">
                                            <input ng-model="searchCategory" type="search" placeholder="Search for a Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup label="Travel List">
                                            <md-option ng-value="type.id" ng-repeat="type in $ctrl.extras.type_list | filter:searchTravel">{{type.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" name="type_id" id="type_id" value="">
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>Branch</label>
                                    <md-autocomplete md-items="option in $ctrl.searchBranchFilter($ctrl.branchSearchText)" md-selected-item="$ctrl.service_invoice.branch" md-search-text="$ctrl.branchSearchText" md-item-text="option.code" md-min-length="3" placeholder="Branch code / name" md-selected-item-change="$ctrl.getBranchDetails()" md-search-text-change="$ctrl.branchChanged()" md-autofocus>
                                        <md-item-template>
                                            <span>
                                                {{option.name}} - {{option.code}}
                                            </span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Branch matching "{{$ctrl.branchSearchText}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <input type="hidden" name="branch_id" id="branch_id" value="{{$ctrl.service_invoice.branch.id}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>SBU</label>
                                    <md-select ng-model="$ctrl.service_invoice.sbu_id" ng-change="getSelectedSbu($ctrl.service_invoice.sbu_id)" placeholder="Select SBU" md-on-close="clearSearchSbu()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchSbu" type="search" placeholder="Search for a sbu.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup label="sbu">
                                            <md-option ng-value="sbu.id" ng-repeat="sbu in $ctrl.extras.sbu_list | filter:searchSbu">{{sbu.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" name="sbu_id" id="sbu_id" value="{{$ctrl.service_invoice.sbu_id}}">
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>Category</label>
                                    <!-- <md-select ng-model="$ctrl.service_invoice.service_item_sub_category.category_id" ng-change="getServiceItemSubCategory($ctrl.service_invoice.service_item_sub_category.category_id); $ctrl.extras.sub_category_list=''; $ctrl.service_invoice.sub_category_id=''" placeholder="Select Category" md-on-close="clearSearchCategory()" data-md-container-class="selectdemoSelectHeader"> -->
                                    <md-select ng-model="$ctrl.service_invoice.category_id" ng-change="getSelectedCategory($ctrl.service_invoice.category_id)" placeholder="Select Category" md-on-close="clearSearchCategory()" data-md-container-class="selectdemoSelectHeader">
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchCategory" type="search" placeholder="Search for a category.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup label="category">
                                            <md-option ng-value="category.id" ng-repeat="category in $ctrl.extras.category_list | filter:searchCategory">{{category.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" name="category_id" id="category_id" value="{{$ctrl.service_invoice.category_id}}">
                                    <!-- <input type="hidden" name="category_id" id="category_id" value="{{$ctrl.service_invoice.service_item_sub_category.category_id}}"> -->
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <!-- <div class="col-md-6">
                            <div class="input-text form-group">
                                <label>Sub Category</label>
                                <md-select ng-model="$ctrl.service_invoice.sub_category_id" ng-change="getSubCategory($ctrl.service_invoice.sub_category_id)" placeholder="Select sub category" md-on-close="clearSearchSubCategory()" data-md-container-class="selectdemoSelectHeader">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchSubCategory" type="search" placeholder="Search for a sub category.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <md-optgroup label="sub_category">
                                        <md-option ng-value="sub_category.id" ng-repeat="sub_category in $ctrl.extras.sub_category_list | filter:searchSubCategory">{{sub_category.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <input type="hidden" name="sub_category_id" id="sub_category_id" value="{{$ctrl.service_invoice.sub_category_id}}">
                            </div>
                        </div> -->
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>Customer</label>
                                    <md-autocomplete md-items="option in $ctrl.searchCustomer($ctrl.customerSearchText)" md-selected-item="$ctrl.service_invoice.customer" md-search-text="$ctrl.customerSearchText" md-item-text="option.code" md-min-length="3" placeholder="Customer code / name" md-selected-item-change="getCustomerDetails($ctrl.service_invoice.customer.id)" md-search-text-change="$ctrl.customerChanged()">
                                        <md-item-template>
                                            <span>
                                                {{option.name}} - {{option.code}}
                                            </span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Customers matching "{{$ctrl.customerSearchText}}" were found.
                                        </md-not-found>
                                    </md-autocomplete>
                                    <input type="hidden" name="customer_id" id="customer_id" value="{{$ctrl.service_invoice.customer.id}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>CN/DN Status</label>
                                    <md-select ng-model="$ctrl.status_id" ng-change="getSelectedStatus($ctrl.status_id)" placeholder="Select CN/DN Status" data-md-container-class="selectdemoSelectHeader" ng-change="onSelectedStatus($ctrl.status_id)">
                                        <md-select-header class="demo-select-header ng-hide">
                                            <input ng-model="searchCategory" type="search" placeholder="Search for a CN/DN Status" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                        </md-select-header>
                                        <md-optgroup label="Travel List">
                                            <md-option ng-value="cn_dn_status.id" ng-repeat="cn_dn_status in $ctrl.extras.cn_dn_statuses | filter:searchTravel">{{cn_dn_status.status}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <input type="hidden" name="status_id" id="status_id" value="">
                                </div><!-- Feild -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="input-text form-group">
                                    <label>TVS GSTIN</label>
                                    <input type="text" class="form-control" name="gstin" id="gstin" value="" placeholder="Enter GSTIN" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row modal-row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-rose my-tooltip" ng-click="reset_filter(); $ctrl.type_id=''; $ctrl.branchSearchText=''; $ctrl.service_invoice.sbu_id=''; $ctrl.service_invoice.category_id=''; $ctrl.service_invoice.sub_category_id=''; $ctrl.customerSearchText=''; $ctrl.status_id=''" ng-shortcut="'meta+shift+t'" ng-shortcut-click data-title="ctrl+shift+t" id="reset_filter">Reset Filter</button>
                                <!-- <button type="submit" class="btn btn-primary my-tooltip" ng-click="$ctrl.exportToExcel()" ng-shortcut="'meta+shift+e'" ng-shortcut-click data-title="ctrl+shift+e" id="export">
                                    Export
                                </button> -->
                               <!--  <input class="btn btn-primary my-tooltip" ng-shortcut="'meta+shift+e'" ng-shortcut-click data-title="ctrl+shift+e" class="btn btn-primary my-tooltip" type="submit" name="export_type" ng-click="$ctrl.export_value(1)" value="Export"> -->
                                <!-- <input ng-if="$ctrl.tcs_export" class="btn btn-primary my-tooltip" type="submit" name="export_type" ng-click="$ctrl.export_value(2)" value="TCS Export"> -->
                                <!-- <input ng-if="$ctrl.gst_export" class="btn btn-primary my-tooltip" type="submit" name="export_type" ng-click="$ctrl.export_value(3)" value="GST Export"> -->
                                <!-- <button type="button" class="btn btn-primary my-tooltip" ng-click="$ctrl.TCSexportToExcel()" id="tcs_export"> -->
                                    <!-- TCS Export -->
                                <!-- </button> -->
                            </div>
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </form>
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal Content -->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="send-to-approval" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Approval</h5>
                <p>Are you sure you want to send to approve? </p>
                <input type="hidden" name="approval_id" id="approval_id" value="">
                <input type="hidden" name="next_status" id="next_status" value="">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-rose refresh_table" ng-click="approvalConfirm()" type="button" data-dismiss="modal" aria-label="Close">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade alert-modal failure" id="delete_irn" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Cancel</h5>
                <p>Are you sure you want to Cancel? </p>
                <input type="hidden" name="service_invoice_id" value="" id="cancel_irn_id">
                <input type="hidden" name="cancel_type" value="" id="cancel_type">
                <button type="button" class="btn btn-grey" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-rose" ng-click="cancelIRN()" type="button" data-dismiss="modal" aria-label="Close" id="cancen_irn">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->